.feed {
	flex: 0.6;
	margin: 0 20px;
}

.feed__inputContainer {
	padding: 10px 10px 20px 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: white;
}

.feed__input {
	display: flex;
	padding: 10px 10px 10px 15px;
	color: gray;
	border: 1px solid lightgray;
	border-radius: 30px;
}

.feed__input > form {
	display: flex;
	width: 100%;
}

.feed__input > form > input {
	flex: 1;
	margin-left: 10px;
	outline-width: 0;
	font-weight: 600;
	border: none;
}

.feed__input > form > button {
	display: none;
}

.feed__inputOptions {
	display: flex;
	justify-content: space-evenly;
}
