.feed {
	flex: 0.6;
	margin: 0 20px;
}

.feed__inputContainer {
	padding: 10px 10p 20px 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: white;
}

.feed_input {
	display: flex;
	padding: 10px 10px 10px 15px;
	color: gray;
	border: 1px solid lightgray;
	border-radius: 30px;
}
